@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>I made this fun thing for demo purposes a little while ago. It uses the API tools at
<a href="api.datamuse.com">datamuse.com</a> to pick out words on the theme you choose, and
then figures out how many syllables you need to complete a line. Easy!</p>
