@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>This fun thing is brought to you by <a href="http://imakeyourprojectnotsuck.com">catfood llc.</a></p>

<address>
    <strong>Support, marketing, and questions:</strong> <a href="mailto:mark@imakeyourprojectnotsuck.com">Mark W.&nbsp;Schumann</a><br />
</address>
